.art-encabezado {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.art-opciones {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.th-acciones {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.div-confirmar-eliminacion {
  text-align: center;
}

.div-mensaje-confirmacion.visible {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 80%;
}

.div-mensaje-confirmacion h4 {
  text-align: center;
}

.div-confirmar-eliminacion {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.div-mensaje-confirmacion.oculto {
  display: none;
}
